<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>Menu</title>
</head>
<body>
    <%- include("includes/navBar.ejs") %>
    <main>
        <h2>Appetizers</h2>
        <section id="appetizers">
            <% for(dish of appetizers) { %>
                <div class="menu-item">
                    <img src="<%= dish.dishimage %>" alt="<%= dish.name %>">
                    <h3><%= dish.name %></h3>
                    <p><%= dish.description %></p>
                    <span>
                        <h4>&#8377; <%= dish.price %></h4>
                        <button class="add-btn">ADD</button>
                    </span>
                </div>
            <% } %>
        </section>

        <h2>Main Course</h2>
        <section id="main-course">
            <% for(dish of mains) { %>
                <div class="menu-item">
                    <img src="<%= dish.dishimage %>" alt="<%= dish.name %>">
                    <h3><%= dish.name %></h3>
                    <p><%= dish.description %></p>
                    <span>
                        <h4>&#8377; <%= dish.price %></h4>
                        <button>ADD</button>
                    </span>
                </div>
            <% } %>
        </section>

        <h2>Desserts</h2>
        <section id="desserts">
            <% for(dish of desserts) { %>
                <div class="menu-item">
                    <img src="<%= dish.dishimage %>" alt="<%= dish.name %>">
                    <h3><%= dish.name %></h3>
                    <p><%= dish.description %></p>
                    <span>
                        <h4>&#8377; <%= dish.price %></h4>
                        <button>ADD</button>
                    </span>
                </div>
            <% } %>
        </section>
    </main>
    <%- include("includes/footer.ejs") %>
</body>
</html>